page-about {
  p{
    font-size: 1.5rem;
    text-align: start;
  }
  .item-ios-light, .item-divider-ios-light {
    color: #c5c5c5;
    background-color: white;
  }
  .item-md-light, .item-divider-md-light {
    color: #c5c5c5;
    background-color: white;
  }
  .item-divider-md {
    border-bottom: 0px solid #dedede;
  }


  .slide-in-both-ways {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
  }
}
